{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1>Create a Listing</h1>
        </div>
        <hr>
        <div>
            {% if user_id_error %}
                <div class="alert alert-danger"><strong>{{user_id_error}}</strong></div>
            {% endif %}
            <form action="{% url 'createlisting' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    {% if form.title.errors %}
                        {% for error in form.title.errors  %}
                        <div  class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                    <input name="title" class="form-control" type="text" maxlength="64">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    {% if form.description.errors %}
                        {% for error in form.description.errors  %}
                        <div  class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                    <textarea name="description" class="form-control" id="" cols="30" rows="5" maxlength="250"></textarea>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group">Starting Price</label>
                    {% if form.starting_price.errors %}
                        {% for error in form.starting_price.errors  %}
                        <div  class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                    <span class="input-group-text">$</span>
                    <input name="starting_price" min="1" max="1000000000000" type="number" step="0.01" class="form-control" aria-label="Starting Price">
                    <span class="input-group-text">.00</span>
                  </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Product Image</label>
                    {% if form.img.errors %}
                        {% for error in form.img.errors  %}
                        <div  class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                    <input name="img" class="form-control" type="file" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    {% if form.category.errors %}
                        {% for error in form.category.errors %}
                        <div  class="alert alert-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                    <div>
                        <select name="category" class="form-select form-control" aria-label="category selection">
                            {% for option in form.category %}
                                {{option}}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input name="owner" type="hidden" value="{{user.id}}">
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}