{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <form class="container" action="{% url 'wiki:editpage' %}" method="post">
        <header>
            <h1>Edit Page</h1>
        </header>
        {% csrf_token %}
        <div class="row">
            <div class="form-text">Be careful when editing a Page</div>
        </div>
        <div class="mb-3 row">
            <input type="hidden" name="entry_title" value="{{entry_title}}">
            {% if form.entry_content.errors %}
                {% for error in form.entry_content.errors %}
                <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <textarea name="entry_content" class="form-control" rows="25">{{content}}</textarea>
        </div>
        <div class="mb-3 row">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
{% endblock %}

