{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <div class="container row">
        {% for entry in entries %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{entry}}</h5>
              <p class="card-text">This article is about {{entry}}</p>
              <a href="/wiki/{{entry}}" class="btn btn-primary">Read</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}